table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .assignmentunsubmitted {
    background-color: yellow;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  
  tr .above60:nth-child(even) {
    background-color: #dddddd;
  }

  tr .above60:nth-child(odd) {
    background-color: white;
  }

  

  .below60{
    background-color:red;
    color:white;
  }

  